.bio {
    background-color: rgb(6, 15, 7);
    color: rgb(200, 200, 200);
    font-size: 0.75em;
    height: 100vh auto;
    text-align: center;
    width: 100vw;
}

.bio-title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 20px;
    text-align: center;
}

.bio-sub-title {
    font-size: 1em;
    letter-spacing: 4px;
    padding: 20px;
    text-align: center;
}

.bio-image {
    width: 200px;
    height: auto;
    padding: 20px 0px 0px 0px;
}

.bio-image-desc {
    padding: 10px 0px 20px 0px;
}

.Hobbies {
    padding: 40px;
}

.Technologies {
    padding: 20px;
}