.App {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: blue;
  color: white;
}

Link {
  background-color: red;

}

.home-link {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 20px;
}
